:root{
    --color-morado: #7d2ae8;
    --color-negro: #0e1318;
    --color-gris: rgba(64,87,109,.07);
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

/*--------ESTILOS REUTILIZADOS-----------------*/ 

.button-grey{
    background-color: var(--color-gris);
    border: none;
    color:var(--color-negro);
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius:5px;
    cursor: pointer;
}

.button-purple{
    background-color: var(--color-morado);
    border: none;
    margin: 0 15px 0 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius:5px;
    cursor: pointer;
}

.black-tittle{
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
}

.grey-tittle{
    font-size: 1.4rem;
    color: gray;
    text-align: center;
}

/*--------------HEADER------------------*/

.header-contenedor{
    margin: 40px 0;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "left right"
    ;
}

.header-contenedor .header-left{
    grid-area: left;
    margin: auto;
    width: 50%;
}
.header-contenedor .header-left .header-tittle h1{
    font-size: 3.8rem;
    margin: 0;
}
.header-contenedor .header-left .header-tittle p{
    font-size: 1.4rem;
    color: gray;
}

.header-contenedor .header-left .header-buttons {
    display: flex;
    justify-content: flex-start;
}

.header-contenedor .header-right{
    grid-area: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.header-contenedor .header-right .header-right-imagen {
    margin: 0px;
    padding: 10px;
    transition: all .2s ease-in;
}

.header-contenedor .header-right .header-right-imagen:hover{
    padding: 0;
}

.header-contenedor .header-right .header-right-imagen img{
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all .2s ease-in;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*------------------REDES----------------------*/

.redes-contenedor{
    margin: 100px 0;
}

.redes-tittle-container{
    margin: auto;
    width: 1200px;
}

.redes-video-container{
    width: 1200px;
    margin: 40px auto;
}

.redes-contenedor .home-video-tittle-container{
    display: flex;
    justify-content: space-evenly;
}

.redes-contenedor .home-video-tittle-container li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.redes-contenedor .home-video-tittle-container li:hover{
    color: var(--color-morado);
}

.redes-contenedor .home-video-tittle-container .home-video-tittle{
    color: rgba(0, 0, 0, 0.700);
}

.redes-contenedor .home-video-tittle-container .home-video-tittle--show{
    color: var(--color-morado);
}

.home-video-data-container{
    width: 100%;
    margin: 10px auto;
    position: relative;
}

.home-video-data-container video{
    width: 1200px;
    height: 800px;
    margin: auto;
    padding: auto;
}

.home-video-data-container .home-video{
    display: none;
}

.home-video-data-container .home-video--show {
    display: block;
}

.home-video-subtittle{
    width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

/*-----HOME INFO----------*/

.home-info-container{
    margin: auto;
}

.home-info-container .home-info-tittle{
    text-align: center;
    font-size: 35px;
}

.home-info-container .home-info-data-container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.home-info-container .home-info-data-container .home-info-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-container .home-info-data-container .home-info-data .home-info-data-tittle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: gray;
    margin: 5px;
}
.home-info-container .home-info-data-container .home-info-data .home-info-data-subtittle{
    font-size: 12px;
    text-align: center;
    color: gray;
    margin: 5px;
}

.home-videocomponent{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.home-videocomponent .home-videocomponent-data-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    align-items: center;
    justify-content: space-evenly;
}

.home-videocomponent .home-videocomponent-data-container video{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle {
    position: relative;
    display: block;
    width: 500px;
}
.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle h3{
    font-size: 50px;
    margin: 0;
}

.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle p{
    font-size: 20px;
    color: grey;
}






