:root{
    --color-morado: #7d2ae8;
    --color-negro: #0e1318;
    --color-gris: rgba(64,87,109,.07);
    --color-gris-fondo: #f8f9f9;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

/*--------ESTILOS REUTILIZADOS-----------------*/ 

.button-grey{
    background-color: var(--color-gris);
    border: none;
    color:var(--color-negro);
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius:5px;
    cursor: pointer;
}

.button-purple{
    background-color: var(--color-morado);
    border: none;
    margin: 0 15px 0 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius:5px;
    cursor: pointer;
}

.black-tittle{
    font-size: 3.5rem;
    margin: 0;
    color: var(--color-negro);
    text-align: center;
}

.grey-tittle{
    font-size: 1.4rem;
    color: gray;
    text-align: center;
}

.icon-checkmark{
    color: var(--color-morado);
    margin-right: 5px;
}

.icon-checkbox-checked{
    color: green;
}

.color-gradient{
    background-color: var(--color-gris-fondo);
    background: linear-gradient(90deg, #7d2ae8, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

button{
    transition: all .3s ease;
}

button:hover{
    opacity: 0.6;
}

/*--------------HEADER------------------*/

.header-contenedor{
    margin: 40px 0;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "left right"
    ;
}

.header-contenedor .header-left{
    grid-area: left;
    margin: auto;
    width: 50%;
}
.header-contenedor .header-left .header-tittle h1{
    font-size: 3.8rem;
    margin: 0;
}
.header-contenedor .header-left .header-tittle p{
    font-size: 1.4rem;
    color: gray;
}

.header-contenedor .header-left .header-buttons {
    display: flex;
    justify-content: flex-start;
}

.header-contenedor .header-right{
    grid-area: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.header-contenedor .header-right .header-right-imagen {
    margin: 0px;
    padding: 10px;
    transition: all .2s ease-in;
}

.header-contenedor .header-right .header-right-imagen:hover{
    padding: 0;
}

.header-contenedor .header-right .header-right-imagen img{
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all .2s ease-in;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*------------------REDES----------------------*/

.redes-contenedor{
    margin: 100px 0;
}

.redes-tittle-container{
    margin: auto;
    width: 1200px;
}

.redes-video-container{
    width: 1200px;
    margin: 40px auto;
}

.redes-contenedor .home-video-tittle-container{
    display: flex;
    justify-content: space-evenly;
}

.redes-contenedor .home-video-tittle-container li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.redes-contenedor .home-video-tittle-container li:hover{
    color: var(--color-morado);
}

.redes-contenedor .home-video-tittle-container .home-video-tittle{
    color: rgba(0, 0, 0, 0.700);
}

.redes-contenedor .home-video-tittle-container .home-video-tittle--show{
    color: var(--color-morado);
}

.home-video-data-container{
    width: 100%;
    margin: 10px auto;
    position: relative;
}

.home-video-data-container video{
    width: 1200px;
    height: 800px;
    margin: auto;
    padding: auto;
}

.home-video-data-container .home-video{
    display: none;
}

.home-video-data-container .home-video--show {
    display: block;
}

.home-video-subtittle{
    width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

/*-----HOME INFO----------*/

.home-info-container{
    margin: auto;
}

.home-info-container .home-info-tittle{
    text-align: center;
    font-size: 35px;
    margin: 20px auto;
}

.home-info-container .home-info-data-container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.home-info-container .home-info-data-container .home-info-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-container .home-info-data-container .home-info-data .home-info-data-tittle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: gray;
    margin: 5px;
}
.home-info-container .home-info-data-container .home-info-data .home-info-data-subtittle{
    font-size: 12px;
    text-align: center;
    color: gray;
    margin: 5px;
}

.home-videocomponent{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.home-videocomponent .home-videocomponent-data-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    align-items: center;
    justify-content: space-evenly;
}

.home-videocomponent .home-videocomponent-data-container video{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle {
    position: relative;
    display: block;
    width: 500px;
}
.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle h3{
    font-size: 50px;
    margin: 0;
}

.home-videocomponent .home-videocomponent-data-container .home-videocomponent-data-tittle p{
    font-size: 20px;
    color: grey;
}

.home-price{
    background-color: var(--color-gris-fondo);
    padding: 30px;
}

.home-price .home-price-tittle{
    margin: auto;
    text-align: center;
    font-size: 23px;
}

.home-price .home-price-selector{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(57,76,96,.15);
    border-radius: 20px;
    padding: 30px;
}

.home-price .home-price-selector .home-price-selector-left{
    font-size: 30px;
}

.home-price .home-price-selector .home-price-selector-right{
    font-size: 18px;
}

.home-price .home-price-selector .home-price-selector-right span{
    color: var(--color-morado);
}
.home-price .home-price-selector .home-price-selector-buttons{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid rgba(57,76,96,.15);
    border-radius: 5px;
}

.home-price .home-price-selector .home-price-selector-buttons button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
}

.home-price .home-price-selector .home-price-selector-buttons .button-selected{
    background-color: var(--color-morado);
    color: #fff;
}

.home-price .home-price-data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    width: 1250px;
}

.home-price .home-price-data-container .home-price-data{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(57,76,96,.15);
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-price .home-price-data-container .home-price-data .home-price-data-tittle-container .home-price-data-tittle{
    font-size: 30px;
    margin: 0;
    color: var(--color-negro);
    font-weight: bold;
}
.home-price .home-price-data-container .home-price-data .home-price-data-tittle-container .home-price-data-subtittle {
    margin: 0;
    color: var(--color-negro);
    font-size: 18px;
}

.home-price .home-price-data-container .home-price-data .home-price-data-price .home-price-data-price-tittle {
    font-size: 45px;
    margin: 20px 0 0 0;
    font-weight: bold;
    color: var(--color-negro);
}

.home-price .home-price-data-container .home-price-data .home-price-data-price .home-price-data-price-subtittle {
    margin: 0;
    color: var(--color-negro);
    font-size: 18px;
}

.home-price .home-price-data-container .home-price-data .home-price-data-listado p{
    margin: 60px 0 0 0;
    font-size: 18px;

}

.home-price .home-price-data-container .home-price-data .home-price-data-listado ul{
    list-style: none;
    padding: 0;
}

.home-price .home-price-data-container .home-price-data .home-price-data-listado li{
    margin: 15px 0;
    font-size: 16px;
    color: gray;
}

.home-price .home-price-data-container .home-price-data .home-price-data-button{
    width: 100%;
    font-size: 16px;
    margin: 20px auto;
}

.home-price .home-price-footer{
    display: flex;
    flex-direction: row;
    width: 1250px;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
}

.home-price .home-price-footer .home-price-footer-left img{
    width: 600px;
}

.home-price .home-price-footer .home-price-footer-right {
    width: 600px;
}
.home-price .home-price-footer .home-price-footer-right h3 {
    font-size: 40px;
    color: var(--color-negro);
    margin: 15px 0;
}

.home-price .home-price-footer .home-price-footer-right p {
    font-size: 20px;
    margin: 0 0 40px 0;
    color: grey;
}

.home-price .home-price-footer .home-price-footer-right ul {
    list-style: none;
    padding: 0;
}

.home-price .home-price-footer .home-price-footer-right li {
    margin: 10px 0;
    font-size: 18px;
    color: grey;
}

.home-price .home-price-footer .home-price-footer-right button {
    width: 100%;
    font-size: 20px;
    margin: 15px 0;
}

.home-picture {
    position: relative;
    margin: 20px 0 5px 0;
    background-image: url(../img/canva/picture/1.avif);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-picture .home-picture-text {
    position: relative;
    width: 500px;
}

.home-picture .home-picture-text h2 {
    font-size: 50px;
    margin: 0;
    color: var(--color-negro);
}

.home-picture .home-picture-text p {
    font-size: 25px;
}
.home-picture .home-picture-text button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;

}

.home-picture .home-picture-right{
    width: 400px;
}

.footer-container{
    background-color: var(--color-gris-fondo);
    border-top:  1px solid rgba(57,76,96,.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.footer-container .footer-left{
    color: gray;
    text-align: center;
}

.footer-container .footer-left a{
    color: var(--color-morado);
    text-decoration: none;
}


.footer-container .footer-right {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.footer-container .footer-right a{
    color: var(--color-morado);
    text-decoration: none;
    font-size: 18px;
}





















