:root{ 
    --color-rosa-fuerte: #F28DB2;
    --color-rosa-claro: #F2D5E0;
    --color-verde-claro: #DFF2F0;
    --color-verde-oscuro: #60BFAE;
    --color-amarillo: #F2DA91;
    --color-blanco:rgba(255, 255, 255, 0.9);
}

.header_pages{
    display: grid;
    padding: 5.625em 0 2.5em 0;
    text-align: center;
    color: var(--color-blanco);
    margin: auto;
    background-position: center;
    background-image: url(images/blog2.jpg);
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas:
    ". h1 ."
    ;
    border-bottom: 15px solid white;
}

.header_pages h1{
    grid-area: h1;
    background-color: var(--color-verde-oscuro);
    border-radius: 0.9375em;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.63);
    padding: 0.3125em;
    font-size: 2em;
}

.contacto_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "nombre phone"
    "correo correo"
    "genero ciudad"
    "asunto asunto"
    "comentario comentario"
    "checkbox checkbox"
    "button button"
    ;
}

.contacto_form_grid{
    display: grid;
    align-content: center;
    grid-template-rows: 2;
    grid-template-areas: 
    "label"
    "input"
    ;
}

.contacto_form_grid label{
    grid-area: label;
    text-align: left;
    margin: 0.5em 0;
}
.contacto_form_grid input{
    grid-area: input;
    padding: 0.4em;
    font-size: 0.8em;
}

.contacto_form_grid select{
    padding: 0.4em;
    font-size: 0.8em;
}
.contacto_form_privacidad{
    color: black;
    font-weight: 500;
}
.contacto_form textarea{
    font-size: 0.8em;
}

.contacto_form_nombre{
    grid-area: nombre;
    margin: 0 8px 0 0;
}

.contacto_form_phone{
    grid-area: phone;
}

.contacto_form_correo{
    grid-area: correo;
}

.contacto_form_genero{
    grid-area: genero;
}

.contacto_form_ciudad{
    grid-area: ciudad;
}
.contacto_form_asunto{
    grid-area: asunto;
}
.contacto_form_comentario{
    grid-area: comentario;
}
.contacto_form_checkbox{
    grid-area: checkbox;
    margin: 10px 0;
}
.contacto_form_button{
    grid-area: button;
}

#contacto_button{
    position: relative;
    background-color: var(--color-rosa-fuerte);
    color: var(--color-blanco);
    font-size: 1em;
    font-weight: 800;
    border: none;
    padding: 0.7em;
    margin: 0.5em 0 3em 0;
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s ease-out;
}

#contacto_button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-verde-oscuro);
    z-index: 1;
    top: 0;
    right: 100%;
    border-radius: 20px;
    transition: all .3s ease-in;
}

#contacto_button:hover{
    opacity: 1;
    box-shadow: 2px 5px 20px var(--color-amarillo);
    font-size: 1.1em;
}

#contacto_button:hover::before{
    right: 0;
}

#contacto_button span{
    position: relative;
    z-index: 2;
}
/* grid de los dos elementos de esta página */

.contacto_info{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    align-content: center;
    grid-template-areas:
    ". form mapa ."
    ;
}

.contacto_info_form{
    grid-area: form;
}
.contacto_mapa{
    margin-top: 3.4375em;
    grid-area: mapa;
}

.home_mapa{
    width: 18em;
    height: 34em;
    margin: auto;
}

.home_form_button{
    margin-bottom: 30px;
}


@media (max-width: 1200px) {
    
}

@media (max-width: 1080px) {
    .header_pages h1{
        font-size: 1.3em;
    }
    .contacto_info{
        grid-template-columns: 100px 1fr 100px;
        grid-template-areas:
        ". form ."
        ". mapa ."
        ;
    }
}

@media (max-width: 768px) {
    .contacto_form_button{
        margin-bottom: 0.3em;
}

    .contacto_info{
        grid-template-columns:1fr;
        grid-template-areas:
        "form"
        "mapa"
        ;
    }
.home_form_button{
    margin-bottom: 0;
}

}

@media (max-width: 550px) {
    .header_pages h1{
        font-size: 1.25em;
    }
    .blog_listado_contenedor img{
        width: 17.5em;
    }
    .contacto_form{
        grid-template-columns: 1fr;
        grid-template-areas:
        "nombre" 
        "phone"
        "correo"
        "genero"
        "ciudad"
        "asunto"
        "comentario"
        "checkbox"
        "button"
        ;
     }
     .contacto_form_nombre{
        margin: 0;
     }

}