:root{ 
    --color-rosa-fuerte: #F28DB2;
    --color-rosa-claro: #F2D5E0;
    --color-verde-claro: #DFF2F0;
    --color-verde-oscuro: #60BFAE;
    --color-amarillo: #F2DA91;
    --color-blanco:rgba(255, 255, 255, 0.9);
}

.header_pages{
    display: grid;
    padding: 5.625em 0 2.5em 0;
    text-align: center;
    color: var(--color-blanco);
    margin: auto;
    background-position: center;
    background-image: url(images/blog6.jpg);
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas:
    ". h1 ."
    ;
    border-bottom: 15px solid white;
}

.header_pages h1{
    grid-area: h1;
    background-color: var(--color-verde-oscuro);
    border-radius: 0.9375em;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.63);
    padding: 0.3125em;
    font-size: 2em;
}


/* --------------ESTILOS IMC--------------------*/

.container{
    display: grid;
    grid-template-columns: 5em 1fr 5em;
    grid-template-areas: 
    ". parrafo ."
    ". imc_calculadora ."
    ". imc_resultado ."
    ". tabla ."
    ;
}

.container .paragraph{
    grid-area: parrafo;
    margin: auto;
    width: 700px;
    text-align: justify;
    margin-top: 15px 0;
}

.paragraph h2{
    text-align: center;
}

.container .imc_container_resultado--show{
    grid-area: imc_resultado;
}

.tabla_IMC{
    grid-area: tabla;
}

.container .imc_container{
    grid-area: imc_calculadora;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: space-evenly;
    grid-template-areas:
    "titulo titulo" 
    "iconos edad"
    "peso altura"
    "imc_boton imc_boton"
    ;
    background-color: var(--color-rosa-fuerte);
    box-shadow: 5px 3px 25px grey;
    padding: 50px;
    border-radius: 20px;
    color: var(--color-blanco);
    font-weight: 700;
    border: solid 10px var(--color-amarillo);
}

.imc_container .imc_iconos{
    grid-area: iconos;
    display: grid;
    grid-template-areas: 
    "masculino femenino";
}

.imc_container .titulo_imc{
    text-align: center;
    font-size: 1.6em;
    grid-area: titulo;
    padding: 0 0 10px 0;
    border-bottom: 2px solid white;
}

.imc_container .imc_edad{
    grid-area: edad;
}
.imc_container .imc_peso{
    grid-area: peso;
    margin-bottom: 2em;
}
.imc_container .imc_altura{
    grid-area: altura;
    margin-bottom: 2em;
}
.imc_container .btn-resultado{
    grid-area: imc_boton;
    margin: auto 100px;
}

.imc_iconos #masculino{
    grid-area: masculino;
}
.imc_iconos #femenino{
    grid-area: femenino;
}

.imc_iconos a{
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "imagen"
    "span"
    ;
}

.imc_iconos img{
    grid-area: imagen;
}
.imc_iconos span{
    grid-area: span;
}

.imc_iconos .imagen_deselected:hover{
    border-radius: 50%;
    border: 5px solid var(--color-amarillo);
}
.imagen_selected{
    border-radius: 50%;
    border: 5px solid var(--color-verde-oscuro);
}
.imagen_selected:hover{
    border-radius: 50%;
    border: 5px solid var(--color-verde-oscuro);
}

.imc_input{
    display: block;
    position: relative;
    border: white solid 5px;
    padding: 30px;
    border-radius: 20px;
    width: 230px;
    height: 120px;
    text-align: center;
    margin: 20px 10px;
}

.imc_container_numero{
    background-color:white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: auto;
    left: 45%;
    top: -9%;
    color: var(--color-rosa-fuerte);
}

.imc_container div input{
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    font-weight: 700;
    border: none;
    box-shadow: 2px 2px 5px black;
    
}

.btn-resultado{
    padding: 15px;
    font-size: 20px;
    margin: 0 auto;
    border: none;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    background-color: var(--color-verde-oscuro);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn-resultado::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: calc(-100% - 80px);
    border-right: 55px solid transparent;
    border-bottom: 55px solid var(--color-amarillo);
    z-index: 1;
    transition: .4s ease-in-out all;
}

.btn-resultado span{
    position: relative;
    z-index: 2;
}

.btn-resultado:hover::after{
    left: 0;
}

.btn-resultado:hover{
    opacity: 1;
    border-radius: 20px;
    color:var(--color-verde-oscuro);
}

/*-------------ESTILOS IMC RESULTADO--------------------------*/

.container .imc_container_resultado{
    display: none;
}

.container .imc_container_resultado--show{
    text-align: center;
    background-color: var(--color-verde-claro);
    border-radius: 30px;
    box-shadow: 5px 3px 25px grey;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    text-transform: uppercase;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 
    "tittle_result tittle_result tittle_result"
    "tu_IMC tu_peso rango_de_peso"
    ;

}

.imc_container_resultado_titulo{
    grid-area: tittle_result;
    border-bottom: 5px solid white;
}

.imc_resultado_color{
    grid-area: tu_IMC;
    font-weight: 700;
}
.imc_tu_peso{
    grid-area: tu_peso;
}
.imc_rango_de_peso{
    grid-area: rango_de_peso;
}

.imc_rango_de_peso p{
    margin-top: 0;
}

.tabla_IMC{
    text-align: center;
    justify-self: center;
    background-color: black;
    font-weight: 500;
    margin: 50px;
    box-shadow: 5px 3px 25px grey;
}

.tabla_IMC th{
    background-color: var(--color-amarillo);
    padding: 20px;
    color: black;
}
.tabla_IMC td{
    padding: 20px;
}
.tabla_IMC tr{
    background-color: var(--color-verde-oscuro);
    color: white;
}
.tabla_IMC tr:nth-child(2n){
    background-color: var(--color-verde-claro);
    color: black;
}


/*--------------RESPONSIVE----------------*/

@media (max-width: 1200px) {
    
}

@media (max-width: 1080px) {
    .header_pages h1{
        font-size: 1.3em;
    }

    .container{
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas: 
        ". parrafo ."
        ". imc_calculadora ."
        ". imc_resultado ."
        ". tabla ."
        ;
    }

    .container .imc_container{
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas:
        "titulo" 
        "iconos"
        "edad"
        "peso" 
        "altura"
        "imc_boton"
        ;
    }

    .container .imc_container_resultado--show{
        grid-template-areas: 
        "tittle_result tittle_result"
        "tu_IMC tu_peso" 
        "rango_de_peso rango_de_peso"
        ; 
    }
    .imc_rango_de_peso{
        justify-self: center;
    }
    

}

@media (max-width: 768px) {
    .container .paragraph{
        width: 80%;
    }
    .container .imc_container_resultado--show{
        justify-items: center;
        margin: 15px;
        grid-template-areas: 
        "tittle_result"
        "tu_IMC"
        "tu_peso" 
        "rango_de_peso"
        ; 
    }
    .imc_rango_de_peso{
        justify-self: none;
    }
        
}

@media (max-width: 550px) {
    .header_pages h1{
        font-size: 1.25em;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "parrafo"
        "imc_calculadora"
        "imc_resultado"
        "tabla"
        ;
    }

    .container .imc_container{
        margin-top: 20px;
        padding: 50px 15px;
        margin: 0 10px;
    }
    .imc_container .btn-resultado{
        margin: auto;
    }

    .imc_input{
        width: 200px;
    }
    .tabla_IMC{
        margin: 50px 5px;
    }
}