:root{ 
    --color-rosa-fuerte: #F28DB2;
    --color-rosa-claro: #F2D5E0;
    --color-verde-claro: #DFF2F0;
    --color-verde-oscuro: #60BFAE;
    --color-amarillo: #F2DA91;
    --color-blanco:rgba(255, 255, 255, 0.9);
}

.header_pages{
    display: grid;
    padding: 5.625em 0 2.5em 0;
    text-align: center;
    color: var(--color-blanco);
    margin: auto;
    background-position: center;
    background-image: url(images/blog6.jpg);
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas:
    ". h1 ."
    ;
    border-bottom: 15px solid white;
}

.header_pages h1{
    grid-area: h1;
    background-color: var(--color-verde-oscuro);
    border-radius: 0.9375em;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.63);
    padding: 0.3125em;
    font-size: 2em;
}


/* --------------ESTILOS IMC--------------------*/

.container{
    display: grid;
    grid-template-columns: 20em 1fr 20em;
    grid-template-areas: 
    ". parrafo ."
    ". imc_calculadora ."
    ". imc_resultado ."
    ;
}

.container .paragraph{
    grid-area: parrafo;
    margin: auto;
    text-align: justify;
    margin-top: 15px 0;
}

.container .imc_container{
    grid-area: imc_calculadora;
    margin: 50px auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "iconos edad"
    "peso altura"
    "imc_boton imc_boton"
    ;
}

.imc_container .imc_iconos{
    grid-area: iconos;
    margin-bottom: 2em;
    display: grid;
    grid-template-areas: 
    "masculino femenino";
}
.imc_iconos #masculino{
    grid-area: masculino;
}
.imc_iconos #femenino{
    grid-area: femenino;
}

.imc_iconos a{
    display: grid;
    grid-template-areas:
    "imagen"
    "span"
    ;
}

.imc_iconos img{
    grid-area: imagen;
}
.imc_iconos span{
    grid-area: span;
}

.imc_iconos img:hover{
    border-radius: 50%;
    border: 5px solid var(--color-verde-oscuro);
}
.imagen_selected{
    border-radius: 50%;
    border: 5px solid var(--color-verde-oscuro);
}

.imc_container .imc_edad{
    grid-area: edad;
}
.imc_container .imc_peso{
    grid-area: peso;
    margin-bottom: 2em;
}
.imc_container .imc_altura{
    grid-area: altura;
}
.imc_container .btn-resultado{
    grid-area: imc_boton;
    margin: auto 100px;
}

.container .imc_container_resultado{
    display: none;
}

.container .imc_container_resultado--show{
    grid-area: imc_resultado;
}



/*--------------RESPONSIVE----------------*/

@media (max-width: 1200px) {
    
}

@media (max-width: 1080px) {
    .header_pages h1{
        font-size: 1.3em;
    }

}

@media (max-width: 768px) {

}

@media (max-width: 550px) {
    .header_pages h1{
        font-size: 1.25em;
    }
}