:root{ 
    --color-rosa-fuerte: #F28DB2;
    --color-rosa-claro: #F2D5E0;
    --color-verde-claro: #DFF2F0;
    --color-verde-oscuro: #60BFAE;
    --color-amarillo: #F2DA91;
    --color-blanco:rgba(255, 255, 255, 0.9);
}

.body {
    font-size: 16px;
}
.contenedor_slider{
    width: 100%;
    max-width: 100em;
    max-height: 45.5em;
    margin: 0 auto;
    overflow: hidden;
}

.slider_gigante{
    padding: 3.2em 0 0 0 ;
}
.slider_gigante_container{
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
}

.slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    pointer-events: none;
    background-color: var(--color-verde-oscuro);
    opacity: 0;
    transition: opacity 1.5s;
}

.slider_body--show{
    pointer-events: unset;
    opacity: 1;
}

.slider_img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

#imagen_slider{
    opacity: 0.6;
    z-index: -50;
}

.slider_picture{
    position: relative;
    margin: 0;
}

.slider_texts{
    position: absolute;
    background-color: var(--color-rosa-fuerte);
    width: 20em;
    height: 5em;
    color: var(--color-blanco);
    text-align: center;
    border-radius: 3.5em;
    padding: 0.3125em 1.25em;
    box-shadow: 2px 5px 30px var(--color-amarillo);
    z-index: 200;
    margin: auto;
    padding: auto;
    transform: translateX(500%);
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    margin: auto;
}

.slider_texts h2{
    margin: auto;
    padding: auto;
    margin-top: 10px;
    font-size: 1.2em;
}

.span_animado{
    font-weight: 700;
    font-size: 1em;
    color: var(--color-blanco);
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    width: 11ch;
    text-align: center;
    z-index: 500;
    animation: typing 2s steps(11),
    blink .5s infinite step-end alternate;
    overflow:hidden;
}

@keyframes typing {

from { width: 0}
}

@keyframes blink {
 20% { border-color: transparent}
}

.slider_arrow{
    position: absolute;
    width: 3em;
    top: 21.5em;
    cursor: pointer;
    z-index: 200;
    border-radius: 50%;
}

.slider_arrow:hover{
    opacity: 1;
    border: 5px solid rgba(255, 255, 255, 0.8);
    width: 3.2em;
    top: 21.3em;
    transition: all 0.4s;
}

.slider_efecto{
    position: absolute;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    width: 3.2em;
    top: 21.3em;
    z-index: 200;
    transition: all 0.4s;
}

#before{
    left: 4em;
}


#after{
    right: 4em;
}



@media (max-width: 1200px) {
    
}

@media (max-width: 1080px) {
    .slider_gigante{
        padding: 2.5em 0 0 0 ;
    }

    .contenedor_slider{
        width: 100%;
        max-height: 100em;
    }
    
    .slider_img{
        width: 160%;
        height: 45em;
    }

    .slider_arrow{
        width: 2.5em;
        top: 8em;
    }
    
    .slider_arrow:hover{
        width: 2.1em;
        top: 7.9em;
    }
    
    .slider_efecto{
        width: 2.1em;
        top: 7.9em;
    }

    .slider_texts{
        width: 16em;
        height: 4em;
        padding: 0.3125em 1.25em;
        top: -70%;
    }

    .slider_texts h2{
        font-size: 1em;
    }

}

@media (max-width: 768px) {

    #before{
        left: 2em;
    }
    
    
    #after{
        right: 2em;
    }

}

@media (max-width: 550px) {

    .slider_img{
        width: 170%;
        height: 400px;
    }

    #before{
        left: 4em;
    }
    
    
    #after{
        right: 4em;
    }

    .slider_texts{
        top: 70%;
    }

}